In [55]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import sklearn
from os import path

In [56]:
england_19 = pd.read_csv('data/england-premier-league-2019-to-2020.csv')
england_19

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,E0,01/01/2020,15:00,Watford,Wolves,2,1,H,1,0,...,1.68,0.25,1.82,2.11,1.83,2.09,1.90,2.17,1.83,2.05
204,E0,01/01/2020,17:30,Man City,Everton,2,1,H,0,0,...,2.76,-1.50,1.88,2.05,1.92,2.01,1.95,2.14,1.88,2.00
205,E0,01/01/2020,17:30,Norwich,Crystal Palace,1,1,D,1,0,...,1.76,-0.25,2.08,1.85,2.05,1.88,2.19,1.92,2.04,1.84
206,E0,01/01/2020,17:30,West Ham,Bournemouth,4,0,H,3,0,...,1.94,-0.50,1.97,1.96,1.97,1.96,2.00,2.00,1.93,1.94
207,E0,01/01/2020,20:00,Arsenal,Man United,2,0,H,2,0,...,2.29,0.00,1.96,1.97,1.96,1.97,2.05,1.98,1.95,1.92

In [57]:
england_19.columns[:50]

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF',
       'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD',
       'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD',
       'AvgA', 'B365>2.5', 'B365<2.5'],
      dtype='object')

In [58]:
england_19.columns[50:]

Index(['P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh',
       'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH',
       'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH',
       'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD', 'WHCA', 'VCCH',
       'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA',
       'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5',
       'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH',
       'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object')

In [59]:
#match facts desired columns
#goals, shots, shots on target, possesion, tackles, fouls, yellow cards, red cards, corners
if len(england_19.columns) > 50: 
    england_19 = england_19.iloc[:, 5:24]
england_19.head()

,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,4,1,H,4,0,H,M Oliver,15,12,7,5,9,9,11,2,0,2,0,0
1,0,5,A,0,1,A,M Dean,5,14,3,9,6,13,1,1,2,2,0,0
2,1,1,D,0,0,D,K Friend,13,8,3,3,10,19,3,4,2,1,0,0
3,3,0,H,0,0,D,G Scott,10,11,4,3,6,12,2,7,0,0,0,0
4,0,0,D,0,0,D,J Moss,6,10,2,3,16,14,6,2,2,1,0,1